.chat_section_container{
    width:100%;
    flex: 1;
    /* height: 95vh; */
    border-bottom: 1px solid #C3C3C3;
    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
   
    overflow: hidden;
    overflow-y: auto;
    
}
.group_message_main_container{
    display: flex;
    flex-direction: column;
    
}
.group_message .group_message_time{
    position: absolute;
    left: 0.2vw;
    bottom: -1vw;
    list-style: none;
    font-size: 0.7vw;
    color: #B1B1B1;
   

}
.group_message_receive .group_message_time{
    position: absolute;
    right: 0;
    bottom: -1vw;
    list-style: none;
    font-size: 0.7vw;
    color: #B1B1B1;
   

}

.group_message, .group_message_receive{
    display: flex;
    margin-left: 1.05vw;
    margin-bottom: 2.2vw;
    /* background-color: red; */
    width:60%;
    align-items: flex-end;
    position: relative;
}
.group_message p, .group_message_receive p{
    color: #2F2F2F;
font-size: 1vw;
background-color: #ECECEC;
border-radius: 0.6vw;
font-weight: 500; 
    /* background-color: aqua; */
max-width:100%;
display: flex;
padding: 0.4vw;
position: relative;
word-break: break-all;
}
.group_message svg,.group_message_receive svg{
    font-size: 1.4vw;
color: #acaaaa;
}
.group_message_receive{
    align-self: flex-end;
    flex-direction: row-reverse;
    margin-right: 1.05vw;
    margin-left: 0vw;
    position: relative;
    max-width: 60%;
  
}    
.group_message_receive p{
    background-color:#E2E4FF ;
    color: black;
}
.group_reply_message{
    max-width: 96%;
}
.group_message_profile_container{
   display: flex;
    width:10vw;
    height: 2.2vw;
    overflow: hidden;
    align-items: center;
    align-self: flex-start;
    margin-left: 1.05vw;
    margin-bottom: 0.2vw;
    gap: 0.5vw;
}

.group_message_profile{
   
    height: 2vw;
    width: 2vw;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
.group_message_profile img{
    all: unset;
    height: 100%;
    width: 100%;
    object-fit: cover;
  
  
}
.group_message_profile_container span{
    flex: 1;
    overflow: hidden;
    color: #484848;
font-size: 0.8vw;
font-weight: 500;
}
.group_message .group_options, .group_message_receive .group_options{
    position: absolute;
    /* right: -10vw; use it when you add reply option
    bottom: -4vw; */
    bottom: 0;
    right: -10.3vw;
    text-align: center;
    display: flex;
    min-width: 9vw;
    max-width: 9vw;
    width: 9vw;
    flex-direction: column;
   cursor: pointer;z-index: 1;
}
 .group_message_receive .group_options{
    position: absolute;
    left: -10vw !important;
    /* width: 9vw; */
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
   
}
.group_message_receive .group_first_messages, .group_message .group_first_messages{
    position: absolute;
 
    bottom: 0vw !important;
}
.group_message .group_options p,.group_message_receive .group_options p{
    min-width: 100%;
    height: 3vw;
    font-style: normal;
    color:  #235C95;
    border-radius: 0;
    font-size: 1.2vw;
    border-bottom: 1px solid #D3D3D3;
   display: flex;
   justify-content: center;
   gap: 0.2vw;
   background-color: #F4F4F4;
   border-radius: 8px 8px 0 0;

   
}
.group_message .group_options p:last-child,.group_message_receive .group_options p:last-child{
    border-bottom: 0;
    color: #F9595F;
font-family: "Open Sans";
/* border-radius: 0 0 8px 8px;  use it when you add reply option */
border-radius: 0.4vw;
font-weight: 500;
   
}
.group_message .group_options p svg,.group_message_receive .group_options p svg{
   color:  #235C95;
   margin-top: 0.1vw;
 
}

/* image messages css */

