.contact-info {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 22vw;
    background-color: #fff;
    border-left: 0.1vw solid #ddd;
    overflow-y: auto;
    z-index: 5;
    /* padding: 2vh 0; */
    display: flex;
    flex-direction: column;
  }
  
  .contact-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.2vw;
    margin-top: 1vw;
    height: 2.5vw;

  }
  
  .contact-header h3 {
    font-size: 1.3vw;
    font-weight: 500;
    margin: 0;
  }
  
  .contact-header .cross-icon {
    font-size: 1.5vw;
    cursor: pointer;
    color: #959595;
  }
  
  .users-contact {
    text-align: center;
    margin-bottom: 3vh;
  }
  
  .users-contact .dp-bx {
    width: 6vw;
    height: 6vw;
    align-items: center;
    justify-content: center;
    margin: 1vh auto 1vh;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.1);
  }
  
  .users-contact .dp-bx img {
    all:"unset";
    width: 100%;
    /* height: 100%; */
    aspect-ratio: 1;
    object-fit: cover;
  }
  
  .users-contact .user-name {
    margin-bottom: 1.5vh;
    font-size: 1.2vw;
    color: black;
  }
  
  .users-contact .user-mob {
    color: #5A5A5A;
    font-size: 1vw;
  }
  
  .users-contact .user-clls {
    display: flex;
    justify-content: center;
    gap: 1.5vw;
    margin-top: 1.5vh;
  }
  
  .users-contact .user-clls button {
    width: 2.5vw;
    height: 2.5vw;
    border: none;
    outline: none;
    border-radius: 0.6vw;
    background-color: #646AFD;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .about {
    margin-bottom: 2vh;
    padding:  1vw;
    border-top: 0.1vw solid #ddd;
    border-bottom: 0.1vw solid #ddd;
  }
  
  .about p:first-child {
    font-weight: 500;
    font-size: 1vw;
    margin-bottom: 0.4vh;
  }
  
  .about p:last-child {
    color: #666;
    font-size: 0.8vw;
  }
  
  .medias {
    flex: 1;
    padding: 0 1.2vw;
  }
  
  .media-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
  }
  
  .media-title p:first-child {
    font-weight: 500;
    font-size: 1vw;
  }
  
  .media-title p:last-child {
    font-size: 0.8vw;
    color: #4a90e2;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .media-title span {
    margin-left: 0.5vw;
    font-size: 1vw;
    display: flex;
    align-items: center;
  }
  
  .media-container {
    display: flex;
    gap: 1vw;
  
    flex-wrap: wrap;
  }
  
  .media-items {
    position: relative;
    width: 4vw;
    height: 4vw;
    border-radius: 0.6vw;
    overflow: hidden;
    box-shadow: 0 0.4vw 0.8vw rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  
  .media-items img,
  .media-items video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .media-items img::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    pointer-events: none; 
   }
  .media-items span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3vw;
    color: white;
    padding: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .media-items.video span {
    font-size: 1.5vw;
  }
  
  .media-items.pdf {
    background-color: #7B7B7B;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile_chat_container .contact-info{
    width: 100vw;
  }
  .mobile_chat_container .contact-header {
    height: 12vw;

  }
  
  .mobile_chat_container .contact-header h3 {
    font-size: 6vw;

  }
  
  .mobile_chat_container .contact-header .cross-icon {
    font-size: 6vw;

  }
  
  .mobile_chat_container .users-contact {

    margin-bottom: 3vh;
  }
  
  .mobile_chat_container .users-contact .dp-bx {
    width: 40vw !important;
    height: 40vw !important;
  }
  

  .mobile_chat_container .users-contact .user-clls {

    gap: 4vw !important;
  }
  .mobile_chat_container .users-contact .user-name {
    font-size: 6vw !important;
  }
  

  
  .mobile_chat_container .users-contact .user-clls button {
    width: 10vw !important;
    height:10vw !important;

    border-radius:1vw !important;


    font-size: 5vw !important;

  }
  

  
  .mobile_chat_container  .about p:first-child {

    font-size: 5vw !important;
  }
  
  .mobile_chat_container .about p:last-child {
    font-size: 4vw !important;
  }
  
  .mobile_chat_container .medias {
    flex: 1;
    padding: 0 1.2vw;
  }
  
  .mobile_chat_container .media-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
  }
  
  .mobile_chat_container .media-title p:first-child {
    font-weight: 500;
    font-size: 4vw !important;
  }
  
  .mobile_chat_container .media-title p:last-child {
    font-size: 4vw !important;
  }
  
  .mobile_chat_container .media-title span {

    font-size: 4vw !important;

  }
  
  
  .mobile_chat_container .media-items {
 
    width: 20vw !important;
    height: 20vw !important;

  }
  
  

  .media-items span {

    font-size: 10vw !important;

  }
  
  .media-items.video span {
    font-size: 1.5vw;
  }
