.login_main{
    max-width: 1920px;
    min-height: 100vh;  
    display: flex;
flex-direction: row;
margin: 0 auto;
}
.login_left_container{
    flex: 0.6;
    background: var(--image-url);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
}
.login_left_container h4{
    text-align: center;
/* font-family: Satoshi; */
font-size: 50px;
font-weight: 700;
line-height: 55px; /* 110% */
letter-spacing: 0.5px;
margin-bottom: 20px;
color: white;
}
.login_left_container p{
    text-align: center;
/* font-family: Satoshi; */
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
color: white;
}
.login_right_container{
    flex: 0.4;
    padding: 63px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 125px;
}
.form_container{
    padding: 0 0px 0 120px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;
    
}
.logo_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_container h5{
    color: #151E2A;
/* font-family: "Open Sans"; */
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.email_input_container{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    position: relative;
    margin-bottom: 25px;

   
}

.email_input_container input, .pass{
    width: 100%;
    height: 100%;
  
/* font-family: "Open Sans"; */
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-left: 32px;
background-color: #f2f2f2 !important;
border-radius: 10px;
border: 1.5px solid #03063b;
outline: none;

}

.email_input_container input:focus{
  
    border: 1.5px solid #6169FF;
    
background-color: #fff !important;
color: #235c95;

}
.email_input_container svg{
   position: absolute;
   left: 10px;
   font-size: 20px;
  
   color: #151E2A;
}
.email_input_container input:focus svg{
  
    
color: #235c95;

}
.form_container_inputs a{
    margin-top: -20px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #4361EE;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 500;
}
.form_container_inputs button{
   width: 100%;
}
.login_right_container button{
    display: flex;
    margin-top: 10px;
height: 55px;
justify-content: center;
align-items: center;
color: #fff;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 10px;
background: #6169FF;
cursor: pointer;
outline: none;
border: 1px solid #6169FF;
}

.formpara{
    color: #909090;

font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 20px;
}

.error {
    color: red;
    font-size: 13px;
    margin-bottom: 1px;
  }
  .profile_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .profile_image_label {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    border: 2px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  .profile_image_label span{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    font-weight: 500;
    color: #909090;
  }
  
  .profile_image_preview {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills the square while cropping */
  }

  
  .name_input_container input {
    width: 100%;
    height: 50px; /* Matching the height of the other inputs */
    padding-left:5px;
    background-color: #f2f2f2 !important;
    border-radius: 10px;
    border: 1.5px solid #03063b;
    outline: none;
  }
  
 
  
  .form_container_input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
    overflow: hidden;
    margin-bottom: 15px;
  }
  .name_input_container {
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: flex-end;
  }
  
  .name_input_container input {
    width: 100%;
    height: 50px; /* Matching the height of the other inputs */
    padding-left: 5px;
    background-color: #f2f2f2 !important;
    border-radius: 10px;
    border: 1.5px solid #03063b;
    outline: none;
    font-size: 14px;
  }
  

  
  .code_input_container {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .code_input_container input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  .code_input_container input:focus {
    border: 1px solid #6169FF;
  }

  .password_input_container {
    display: flex;
    flex-direction: column;
  
    margin-top: 20px;
  }
  
  .password_input_container input {
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    margin-bottom: 15px;
  }
  
  .password_input_container input:focus {
    border: 1px solid #6169FF;
  }
  
  .password_input_container label {
    
    font-size: 14px;
    color: #333;
  }
  
  .password_input_container .error {
    color: red;
    font-size: 12px;
 
  }
  form button{
    width: 100%;
  }